<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/navbar.css" />
    <link rel="stylesheet" href="/createItem.css" />
    <link rel="stylesheet" href="/errors.css" />
  </head>
  <body>
    <%- include('partials/navbar.ejs') %> <%- include("partials/errors.ejs") %>

    <div class="container">
      <div class="title"><%= title %></div>
      <form
        class="createItem-form"
        action="/items"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="form-field">
          <label for="name">Name:</label>
          <input
            class="item-input"
            type="text"
            name="name"
            id="name"
            required
          />
        </div>
        <div class="form-field">
          <label for="categoryId">Category:</label>
          <select name="categoryId" id="categoryId">
            <% categories.forEach((category) => { %>
            <option value="<%= category.id %>"><%= category.name %></option>
            <% }) %>
          </select>
        </div>
        <div class="form-field">
          <label for="quantity">Quantity:</label>
          <input
            class="item-input"
            type="number"
            name="quantity"
            id="quantity"
            required
          />
        </div>
        <div class="form-field">
          <label for="unit">Unit:</label>
          <input
            class="item-input"
            type="text"
            name="unit"
            id="unit"
            required
          />
        </div>
        <div class="form-field">
          <label for="image">Image:</label>
          <input
            class="image-input"
            type="file"
            name="image"
            id="image"
            accept="image/*"
          />
        </div>

        <button class="item-submit" type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
